.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  width: 40vw;
  height: fit-content;
  gap: 0px;
  border-radius: 40px;
  font-size: medium;
}

.itemName {
  margin-top: 10px;
  
}

.dataTitle {
  margin-bottom: -20px;
  margin-top: -15px;
}

@media screen and (min-width: 768px){
  
}
