
.webpage {
  background-image: url("https://cdn.wallpapersafari.com/78/73/loygLU.png");
  padding: .5%;
  height: 100vh;
  width: 98.363vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}